# fly.toml app configuration file generated for cceducacional on 2025-11-16T20:01:16Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'cceducacional'
primary_region = 'ams'

[build]

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
